.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #F05ECA !important;  
    padding-top: 55px;
}
.bg-cafe {
    background-color: #6F4E37; 
}

.logo {
    text-align: center; 
    padding: 20px 0; 
}

.logo img {
    max-width: 150px; 
}

.sidebar .navbar-nav {
    width: 100%; 
}

.sidebar .nav-item {
    width: 100%; 
}

.sidebar .nav-link {
    padding: 10px;
    text-align: center; 
}

